[Unit]
Description=Quassel Core
After=network.target postgresql-9.5.service

[Service]
User=quassel
Group=quassel
PIDFile=/var/run/quassel.pid
ExecStart=/usr/bin/quasselcore --require-ssl --configdir=/srv/quassel

[Install]
WantedBy=multi-user.target
